version: "3.7"

services:
  postgres:
    image: postgres:14
    container_name: monster_db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: monsters
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
    volumes:
      - ./db:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/create_tables.sql
